@using PhoneUserKICB.PL.Models.ViewModels;
@model IEnumerable<UserViewModel>

<h2>Users List</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Date of Birth</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>@user.DateOfBirth.ToShortDateString()</td>
                <td>
                    <a href="@Url.Action("Detail", new { id = user.Id })">Details</a> |
                    <a href="@Url.Action("Edit", new { id = user.Id })">Edit</a> |
                    <a href="@Url.Action("Delete", new { id = user.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Create")">Create New User</a>